/****************************************

VARIABLES

****************************************/
/****************************************

GENERAL STYLING

****************************************/
*, *:before, *:after {
  box-sizing: border-box; }

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: 'Raleway', sans-serif; }

hr {
  height: 6px;
  width: 200px;
  margin: 20px auto;
  border-left: none;
  border-right: none;
  border-top: 2px solid lightcoral;
  border-bottom: 2px solid lightcoral; }

h1 {
  font-weight: 900;
  font-size: 6vw;
  color: #333333;
  /*font-size: 6rem;*/
  text-transform: uppercase;
  text-align: center; }

p {
  color: #333333;
  font-size: 2vw;
  text-transform: capitalize;
  text-align: center;
  line-height: 1.5; }

button {
  appearance: none;
  padding: 20px 25px;
  border-radius: 0;
  background-color: transparent;
  box-shadow: none;
  outline: none;
  border: 1px solid #e6e6e6;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #e6e6e6;
  font-weight: 900;
  transition: all .4s ease-in-out; }
  button:hover {
    color: lightcoral;
    background-color: #e6e6e6; }

/****************************************

HEADER STYLING

****************************************/
header {
  z-index: 10;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: white;
  background-color: transparent;
  width: 100%;
  height: 90px;
  transition: all .3s ease-in-out; }
  header.shrink {
    height: 80px;
    background-color: rgba(0, 0, 0, 0.6); }
    header.shrink .sections-nav li {
      font-size: 1.1vw; }
    header.shrink .logo {
      height: 50%; }
  header .logo {
    height: 60%;
    transition: all .3s ease-in-out; }
  header .sections-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    height: 100%;
    list-style: none;
    transition: all .3s linear; }
    header .sections-nav li {
      transition: all .3s linear;
      cursor: pointer;
      font-size: 1.4vw;
      transition: all .3s ease-in-out; }
      header .sections-nav li a {
        color: #cccccc;
        text-decoration: none; }
        header .sections-nav li a:hover {
          color: #666666; }
    header .sections-nav .selected {
      padding: 25px 15px;
      color: black;
      background-color: white;
      border-radius: 10px; }
    header .sections-nav .active {
      background-color: #cccccc;
      color: #333333;
      padding: 15px 20px;
      border-radius: 10px; }

/****************************************

LANDING SECTION STYLING

****************************************/
.landing {
  height: 100vh;
  background-image: url("../images/bg-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white; }
  .landing img {
    width: 250px; }
  .landing .titles {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    margin-top: 20px; }
    .landing .titles h1, .landing .titles p {
      color: #cccccc; }
  .landing i {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer; }

/****************************************

INTRO SECTION STYLING

****************************************/
.intro {
  display: flex;
  fiex-direction: column;
  justify-items: space-around;
  align-items: center;
  background-color: white;
  padding: 80px; }

.intro-copy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px; }
  .intro-copy h1 {
    font-size: 3.6vw; }
  .intro-copy p {
    font-size: 1.4vw;
    text-transform: none;
    line-height: 1.5;
    font-weight: 300; }

/****************************************

INTRO SECTION STYLING

****************************************/
.skills {
  height: 100vh;
  background-color: #f5f5f5; }
  .skills .section-title, .skills p {
    padding-bottom: 20px; }
  .skills .section-title {
    font-size: 3vw;
    padding-top: 150px; }
  .skills p {
    font-size: 1.2vw; }

.skills-container {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: row; }
  .skills-container div {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px; }
    .skills-container div h1 {
      font-size: 2.6rem;
      margin-bottom: 15px; }
    .skills-container div i {
      font-size: 6rem;
      margin: 30px 0; }

/****************************************

QUOTE SECTION STYLING

****************************************/
.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../images/bg-aside.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }
  .quote h1 {
    font-size: 4rem;
    max-width: 75%;
    text-transform: none;
    font-weight: 300;
    color: #e6e6e6; }
    .quote h1 span {
      color: lightcoral; }

/****************************************

PROCESS SECTION STYLING

****************************************/
.process {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.process-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 60px; }
  .process-wrapper .plan,
  .process-wrapper .create,
  .process-wrapper .launch {
    width: 33%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    padding: 40px; }
    .process-wrapper .plan i,
    .process-wrapper .create i,
    .process-wrapper .launch i {
      font-size: 3.5rem;
      align-self: flex-start;
      padding: 15px;
      border: 2px solid black;
      border-radius: 50%; }
  .process-wrapper .plan-content h1 {
    font-size: 4rem;
    margin-bottom: 30px; }
  .process-wrapper .plan-content ul {
    list-style: initial;
    margin-left: 40px; }
    .process-wrapper .plan-content ul li {
      font-size: 1.6rem;
      line-height: 2; }

/****************************************

CASE STUDIES INTRO SECTION STYLING

****************************************/
.case-studies-intro {
  height: 45vh;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center; }
  .case-studies-intro h1 {
    font-size: 3.8vw; }
  .case-studies-intro p {
    font-size: 1.2vw; }

/****************************************

CASE STUDIES SECTION STYLING

****************************************/
.case-studies {
  height: 100vh; }
  .case-studies .carousel {
    height: 100%;
    position: relative; }
    .case-studies .carousel .next,
    .case-studies .carousel .prev {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      color: white;
      top: 50%;
      width: 45px;
      height: 90px;
      background-color: lightcoral;
      opacity: .6;
      transform: translateY(-50%);
      z-index: 5; }
    .case-studies .carousel .next {
      left: 0; }
    .case-studies .carousel .prev {
      right: 0; }
  .case-studies .slide {
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #f2f2f2; }
    .case-studies .slide h1 {
      font-size: 3.5vw;
      color: #f2f2f2; }
    .case-studies .slide h2 {
      font-size: 1.2vw; }
    .case-studies .slide img {
      margin-bottom: 40px; }
    .case-studies .slide:nth-of-type(1) {
      background-image: url("../images/bg-1.jpg");
      background-size: cover;
      z-index: 2; }
    .case-studies .slide:nth-of-type(2) {
      background-image: url("../images/bg-2.jpg");
      background-size: cover;
      z-index: 1; }
    .case-studies .slide:nth-of-type(3) {
      background-image: url("../images/bg-3.jpg");
      background-size: cover;
      z-index: 1; }
    .case-studies .slide:nth-of-type(4) {
      background-image: url("../images/bg-4.jpg");
      background-size: cover;
      z-index: 1; }
    .case-studies .slide img {
      width: 60%; }
    .case-studies .slide .content {
      text-align: left; }
      .case-studies .slide .content hr {
        margin-left: 0; }

/****************************************

PORTFOLIO SECTION STYLING

****************************************/
.portfolio {
  display: none; }

/****************************************

REVIEWS SECTION STYLING

****************************************/
.review {
  height: 60%;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center; }
  .review .carousel-container {
    position: relative;
    width: 60%;
    height: 50%;
    margin: 0 auto; }
  .review .next,
  .review .prev {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: white;
    top: 50%;
    width: 45px;
    height: 90px;
    background-color: lightcoral;
    text-decoration: none;
    opacity: .6;
    transform: translateY(-50%);
    z-index: 5; }
  .review .next {
    left: -10%; }
  .review .prev {
    right: -10%; }
  .review .slide {
    position: absolute;
    height: 100%;
    width: 100%; }
    .review .slide:nth-of-type(2) {
      opacity: 0; }
    .review .slide h1 {
      font-size: 2vw; }
    .review .slide p {
      font-size: 1.4vw; }
    .review .slide .caption {
      text-align: center; }

/****************************************

NEWSLETTER SECTION STYLING

****************************************/
.newsletter {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333333; }
  .newsletter h1 {
    font-size: 2vw;
    color: #cccccc; }
  .newsletter .email-input {
    width: 45%;
    height: 40px;
    display: flex; }
    .newsletter .email-input button {
      padding: 0;
      background-color: lightcoral;
      border: none;
      flex-grow: 1; }
    .newsletter .email-input input {
      flex-grow: 5; }

/****************************************

CONTACT SECTION STYLING

****************************************/
.contact {
  height: 100vh; }
  .contact h1 {
    font-size: 2.5vw; }
  .contact p {
    font-size: 1.2vw; }

.contact,
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

form {
  width: 60%;
  padding: 60px 0; }
  form .input-group {
    position: relative;
    width: 100%; }
  form input {
    width: 100%;
    background: transparent;
    color: #AFB5BB;
    font-size: 1.6vw;
    height: 40px;
    border: none;
    margin-bottom: 40px;
    border-bottom: 1px solid lightgray;
    outline: none; }
    form input:nth-of-type(4) {
      border-bottom: 1px solid lightgray; }
    form input:focus ~ label {
      top: -25px;
      font-size: 1.8vw;
      font-weight: bold;
      color: lightcoral; }
  form .text-message {
    height: 105px; }
  form label {
    position: absolute;
    width: 100%;
    font-size: 1.5vw;
    top: 15px;
    text-align: left;
    pointer-events: none;
    transition: all .2s ease-out; }
  form .last {
    top: 75px; }
  form .label-content {
    transition: transform 0.3s; }
  form button {
    padding: 15px 20px;
    border: 1px solid #333333;
    color: #333333;
    align-self: flex-start; }

/****************************************

CALL SECTION STYLING

****************************************/
.visit {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url("../images/bg-footer.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; }

.addresses {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: baseline;
  margin-top: 200px; }
  .addresses div {
    width: 20%; }
    .addresses div p,
    .addresses div h3 {
      color: #cccccc; }
    .addresses div p {
      font-size: 1.2vw; }
    .addresses div h3 {
      font-size: 1.3vw;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 10px; }
      .addresses div h3 i {
        padding-right: 5px; }

.share-icons,
.copy {
  color: #cccccc; }

.share-icons i {
  padding: 0 20px; }

.copy {
  margin-bottom: 10px;
  font-size: 1.5vw; }
